*/ {
    margin: 0%;
    padding: 0%;
}
/* Header Start! */
.header {
    background-color: DDDBDC;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    box-shadow: 0px 15px 20px -20px rgba(0,0,0,0.75);
}
.navul {
    list-style: none;;
    display: flex;
    gap: 20px;
    font-weight: bold;
}
.headicon {
    display: flex;
    justify-content: right;
    gap: 50px;
}
/* Header End */
/* Herosection */
.herosectext {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.herosecul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.sale {
    color: red;
}
.imgdivhero {
    width: 100%;
}
.imgdivhero > img {
    width: 100%;
}
.textwhitehero {
    color: white;
    text-align: center;
}
.herosecbox {
    position: absolute;
    top: 400px;
    left: 200px;
}
.btndiv {
    display: flex;
    justify-content: center;
}
.herosecbtn {
    border: none;
    width: 196px;
}
/* herosection end */
.bodyh2 {
    margin-top: 20px;
}
.categorysec {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
}
.sec1btn>button {
    width: 240px;
    border: none;
    background-color: white;
    cursor: pointer;
}
.sec2btn>button {
    width: 240px;
    border: none;
    background-color: white;
    cursor: pointer;
}
.sec3btn>button {
    width: 240px;
    border: none;
    background-color: white;
    cursor: pointer;
}
.secondsection {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    text-align: center;
}
.second1, .second2, .second3 {
    position: relative;
    width: 30%;
}
.second1 img,
.second2 img,
.second3 img {
    width: 100%;
    display: block;
    border-radius: 10px;
}
.sec1div, .sec2div, .sec3div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.sec1btn > button:hover,
.sec2btn > button:hover,
.sec3btn > button:hover {
    background-color: black;
    color: white;
}
.thirdsec {
    align-items: center;
    text-align: center;
}
.thirdsech3 {
    position: relative;
    top: -150px;
    left: 50%;
    transform: translate( -50% , -50% );
    text-align: center;
    color: white;
}
/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 3px 5px 90px -32px rgba(0,0,0,0.75);
}
.cc {
    text-align: center;
}
/* footer end */

@media  (max-width: 500px) {
    /* header responsive */
    .header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }   
    /* header responsive */
    .herosecul {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }
    .herosecbox {
        position: absolute;
        top: 300px;
        left: 10px;
    }
    h3 {
        font-size: 15px !important;       
    }
    h4 {
        font-size: 16px !important;
    }
    .herosecbtn {
        width: 100px;
    }
    .categorysec {
        display: flex;
        flex-wrap: wrap;
    }   
    .secondsection {
        display: flex;
        flex-wrap: wrap;
    }
    .second1, 
    .second2,
    .second3 {
        width: 100%;
        padding-bottom: 10px;
    }
    .thirdsec {
        width: 100%;
    }
    .thirdsec > img {
        width: 100%;
        border-radius: 10px;
    }
    .thirdsech3 {
        position: relative;
        top: -50px;

    }
    /* footer responsive */
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .f1 {
        padding: 10px;
        width: 220px;
        text-align: center;
    }
    /* footer responsive */
}